@import url('https://fonts.googleapis.com/css?family=Righteous');

/*----------------------------------------Images*/

.band-logo {
    display: block;
    width: 70%;
    position: relative;
    margin: 0 auto;
}

.fan-club-image {
    display: block;
    width: 50%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 20px;
    border-radius: 50px 50px 50px 50px;
}

.music-track-image {
    display: inline-block;
    width: 50%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 20px;
    border-radius: 50px 50px 50px 50px;
}


.track-one-image{
     background-image:url("/images/clarksville.jpg");
}

.track-two-image{
     background-image:url("/images/day-dream-believer.jpg");
}

.track-three-image{
     background-image:url("/images/stepping-stone.jpg");
}

.track-four-image{
     background-image:url("/images/imabeliever.jpg");
}

.gallery-image-size{
    max-height: 220px;
}
/*----------------------------------------Colours*/

.ui-nav-color-home {
    background-color: #CF4917;
    border-radius: 50px 50px 50px 50px;
}

.ui-nav-color-music {
    background-color: #2D758C;
    border-radius: 50px 50px 50px 50px;
}

.ui-nav-color-photos {
    background-color: #758C33;
    border-radius: 50px 50px 50px 50px;
}

.ui-nav-color-book {
    background-color: #F9AC3D;
    border-radius: 50px 50px 50px 50px;
}

/*----------------------------------------Element Padding*/

.top-section {
   
}


.bottom-section {
    display: none;
}

/*----------------------------------------Content Layout*/

.content-text-article {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-family: "Righteous", sans-serif;
    font-size: 20px;
}

/*----------------------------------------Buttons*/

.btn--jumbo {
    font-family: "Righteous", sans-serif;
    background-color: #5091ad;
    color: #fff;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    font-size: 30px;
}

.btn--footer {
    font-family: "Righteous", sans-serif;
    background-color: #fff;
    color: #000;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    font-size: 20px;

}

/*----------------------------------------Media Playback*/
.audio-player-size{
    width: 220px;
    text-align: center;
}

/*----------------------------------------Body*/

body::-webkit-scrollbar {
    width: 0 !important
}

body {
    overflow: -moz-scrollbars-none;
}

/*----------------------------------------Header*/

/*----------------------------------------Navbar*/

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.navbar-top {
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 0;
    border-radius: 50px 50px 50px 50px;

}

.navcontainer {
    font-size: 0;
    margin: auto;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.navitem {
    height: 80px;
    text-align: center;
    padding: 0;
}

.navitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.navitem a span {
    display: block;
    width: 100%;
    font-family: "Righteous", sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}


/*----------------------------------------Callout*/

.callout-container {
    background-image: url("/images/monkees-newsize.jpg"); 
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: right;
    border-radius: 50px 50px 50px 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.content-text-callout {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: "Righteous", sans-serif;
    font-size: 20px;
}

/*----------------------------------------Home*/

/*----------------------------------------Music*/

.music-main-section{
     display: block;
     text-align: center;
}

.music-section{
    display: inline-block;    
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
}

.video-position{
    display: block;
    position: relative;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
    
}

.video-container{
    padding-top: 120px;
}

/*----------------------------------------Photos*/

.gallery-main-section{
    display: block;
    text-align: center;
}

.gallery-item{
    display: inline-block;    
    text-align: center;
    border: 10px solid;
    border-radius: 50px 50px 50px 50px;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    max-height: 400px;
    max-width: 400px;
}

.gallery-container {
    background-image: url("/images/monkees-newsize.jpg"); 
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: right;
    border-radius: 50px 50px 50px 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}
/*----------------------------------------Book-us*/

/*----------------------------------------Footer*/

.footer-bottom {
    bottom: 0px;
    width: 100%;
    padding: 0;
    border-radius: 50px 50px 50px 50px;
}

.footer-cta {
    background-color: #2c4063;
    color: #fafafa;
    min-height: 120px;
    padding: 12px 0;
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-family: "Righteous", sans-serif;
    font-size: 30px;
    border-radius: 50px 50px 50px 50px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    font-size: 13px;
    text-align: center;
    color: #000;
    background: #fff;
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #F9AC3D;
}

/*----------------------------------------Media Queries*/
@media(min-width: 479px){
     .bottom-section {
        display: block;
    }
}


@media(min-width: 1025px) {
    .navbar-top {
        position: fixed;
    }
    
    .navitem{
        height: 120px;
    }
   
    .callout-container {
        height: 100vh;
    }

    .content-text-article{
        width: 70%;
    }

    .top-section{
        padding-top: 120px;
    }

    .bottom-section {
        display: block;
        padding-top: 120px;
    }
    
    .music-main-section{
        padding-top: 120px;
    }
    
    .footer-bottom {
        position: fixed;
    }
}

/*----------------------------------------Bootstrap Mods*/

.container-fluid {
    margin: 0;
    padding: 0;
}

.h2, h2 {
    font-size: 2rem;
    font-family: "Righteous", sans-serif;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.h4, h4 {
    font-size: 1.5rem;
    font-family: "Righteous", sans-serif;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 180px;
}